<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body background="img/LoginBG.jpg">

<h1><%= title %></h1>

<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/application.js"></script>
<script type="text/javascript" src="/example/example.client.module.
js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/example/controllers/example.
client.controller.js"></script>


<section ng-include="'example/views/example.client.view.html'"></section>

<% if(data.length){ 
                                
     for(var i = 0;i < data.length;i++) { %>                 
    <tr>
        <td><%=(i+1)%></td>
        <td><%=data[i].firstname%></td>
        <td><%=data[i].lastname%></td>
    </tr>
<% }

 }else{ %>
     <tr>
        <td colspan="3">No user</td>
     </tr>
<% } %>

<!--
<section>
<input type="text" id="text1" ng-model="name">
<input type="text" id="text2" ng-model="name">
</section>
-->
</body>
</html>